/* eslint-disable-next-line */
@import './Mixins.scss';

@keyframes pulseBlue {
  0%{color: cyan};
  50%{color: black};
  100%{color: cyan};
}

@keyframes pulseYellow {
  0%{color: yellow};
  50%{color: black};
  100%{color: yellow};
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .signInForm{
    max-width: 90vw;
    max-height: 80vh;
    margin: auto;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    overflow: auto;
    form{
      max-width: 90vw;
      max-height: 80vh;
      padding: 15px;
      input{
        width: 300px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
        border: 2px solid black;
        transition: .3s linear;
        &:focus{
          outline: none;
          border: none;
          border-left: 2px solid black;
          border-top: 2px solid black;
          border-right: 2px solid black;
          border-bottom: 2px solid teal;
        }
      }
      button{
        width: 150px;
        font-size: 16px;
        border-radius: none;
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }
}

