/* eslint-disable-next-line */
@import './Mixins.scss';

@keyframes pulseBlue {
  0%{color: cyan};
  50%{color: black};
  100%{color: cyan};
}

@keyframes pulseYellow {
  0%{color: yellow};
  50%{color: black};
  100%{color: yellow};
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  .insideContainer{
    background-color: white;
    max-height: 95vh;
    width: 90vw;
    overflow: auto;
    padding: 10px;
    z-index: 1;
    overflow: auto;
    input{
      width: 300px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
        border: 2px solid black;
        transition: .3s linear;
        &:focus{
          outline: none;
          border: none;
          border-left: 2px solid black;
          border-top: 2px solid black;
          border-right: 2px solid black;
          border-bottom: 2px solid teal;
        }
    }
    button{
      cursor: pointer;
    }
    @include mQ(775px){
      max-height: 80vh;
      margin-top: -10vh;
    }
  }
  button{
    margin: 0;
    padding: 0;
    border: 0;
    padding: 10px;
    background-color: #efefef;
    width: 100px;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
    &:hover{
      border: 1px solid teal;
      text-decoration: underline;
      background-color: teal;
      color: white;
      transition: .3s linear;
    }
  }
  .cancel{
    &:hover{
      border: 1px solid red;
      background-color: red;
    }
  }
}
.loader{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employeeList{
  display: flex;
  justify-content: space-between;
  width: 88vw;
  align-items: center;
  margin: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1px solid black;
  h1{
    margin: 0;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  a{
    color: black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  @include mQ(775px){
    display: block;
  }
}

.employeeList:nth-child(even){
  background-color: white;
}
.employeeList:nth-child(odd){
  background-color: lightgrey;
}

.Active{
  color: lime;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Progress{
  animation: pulseYellow 1.5s linear infinite;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Shop{
  animation: pulseBlue 2s linear infinite;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Change{
  animation: pulseYellow 1.5s linear infinite;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Training{
  animation: pulseBlue 2s linear infinite;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.employeeInfoTop{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  align-items: center;
}

.socialCheck{
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  &:hover{
    transition: .3s linear;
    color: teal;
  }
}

.title{
  text-decoration: underline;
}

.nameAndImg{
  width: 100%;
  margin: auto;
  .profileImg{
    width: 175px;
    border-radius: 175px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    &:hover{
      .update{
        opacity: 0.4;
        cursor: pointer;
        &:hover{
          opacity: 0.8;
        }
      }
    }
    img{
      width: 160px;
      height: 160px;
      border-radius: 160px;
      padding: 4px;
      border: 2px solid teal;
    }
    .update{
      transition: .4s linear;
      position: absolute;
      width: 160px;
      background-color: black;
      height: 80px;
      top: 50%;
      border-bottom-left-radius: 160px;
      border-bottom-right-radius: 160px;
      border-top: 2px solid white;
      opacity: 0;
      p{
        color: white;
        font-size: 20px;
        border-bottom-left-radius: 160px;
        border-bottom-right-radius: 160px;
      }
    }
  }
}

.addEmployeeContainer{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  .addEmployeeInsideContainer{
    max-width: 90vw;
    max-height: 90vh;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    border: 2px solid teal;
    overflow: auto;
  }
}

.search{
  width: 90vw;
  margin: auto;
  background-color: teal;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  label{
    font-weight: bold;
    margin-right: 5px;
  }
  select{
    margin-right: 5px;
    border: 1px solid black;
  }
  input{
    border: 1px solid black;
    margin-right: 5px;
  }
  .item{
    width: 100%;
    label{
      font-size: 16px;
    }
    input{
      width: 30%;
      font-size: 16px;
    }
    select{
      font-size: 14px;
    }
  }
}

.signInContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .signInForm{
    max-width: 90vw;
    max-height: 80vh;
    margin: auto;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    overflow: auto;
    form{
      max-width: 90vw;
      max-height: 80vh;
      padding: 15px;
      input{
        width: 300px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
        border: 2px solid black;
        transition: .3s linear;
        &:focus{
          outline: none;
          border: none;
          border-left: 2px solid black;
          border-top: 2px solid black;
          border-right: 2px solid black;
          border-bottom: 2px solid teal;
        }
      }
      button{
        width: 150px;
        font-size: 16px;
        border-radius: none;
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }
}

.employeeInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.nextBackContainer{
  .nextBack{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    button{
      margin: 0;
      margin-top: 10px;
      padding: 0;
      border: 0;
      padding: 10px;
      font-size: 15px;
      border: 1px solid white;
      background-color: black;
      color: white;
      cursor: pointer;
      transition: .3s linear;
      &:hover{
          border: 1px solid teal;
          text-decoration: underline;
          background-color: teal;
          color: white;
          @include mQ(775px){
              background-color: rgb(239, 239, 239);
              color: black;
          }
      }
      &:active{
          box-shadow: 0px 0px 10px black inset;
          border-radius: 5px;
      }
  }
    h1{
      margin: 0 15px;
      padding: 0;
      color: white;
      text-decoration: underline;
    }
    @include mQ(775px){
      font-size: 12px;
      button{
        margin-top: 5px;
      }
    }
  }
}

.docContainer{
  width: 95vw;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border-top: 0;
  overflow: auto;
  h1{
      margin-top: 0;
      padding-top: 15px;
  }
}

.editFormContainer{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  .editForm{
    width: 80vw;
    height: auto;
    background-color: lightgray;
    position: relative;
    .closeBtn{
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }
}

.payReportList{
  width: 90vw;
  border: 1px solid black;
  margin: auto;
  background-color: white;
  div{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-around;
  }
  .searchingEmployee{
    position: absolute;
    height: auto;
    padding: 5px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
  }
}