@import './Mixins.scss';

@keyframes slideOut{
    0%{width: 0vw; height: 100vh;}
    100%{width: 100vw; height: 100vh;}
}

.header{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    .signOut{
        width: 100%;
        height: 50px;
        border: none;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 1.4rem;
        transition: .3s linear;
        cursor: pointer;
        &:hover{
          box-shadow: 0px 0px 10px red;
          color: red;
          text-decoration: underline;
        }
      }
    a{
        width: 100%;
        font-weight: bold;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.4rem;
        text-decoration: none;
        h3{
            margin: 0;
        }
        &:hover{
            text-decoration: underline;
        }
        &:active{
          box-shadow: 0px 0px 10px black inset;
        }
    }
    .active{
        transition: .3s linear;
        background-color: teal;
        box-shadow: 0px 4px 10px black;
        color: black;
    }
    .signIn{
      width: 100%;
      height: 50px;
      border: none;
      background-color: black;
      color: white;
      font-weight: bold;
      font-size: 1.4rem;
      transition: .3s linear;
      cursor: pointer;
      &:hover{
          box-shadow: 0px 0px 10px limegreen;
          color: limegreen;
          text-decoration: underline;
      }
    }
}

.headerMbl{
    width: 100%;
    margin-bottom: 15px;
    z-index: 3;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    .showHide{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    a{
        font-weight: bold;
        width: 90vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid white;
        h3{
            margin: 0;
            font-size: 2rem;
        }
        &:hover{
            text-decoration: underline;
        }
    }
    button{
        width: 100%;
        border: none;
        color: white;
        background-color: black;
        font-weight: bold;
        font-size: 2rem;
        transition: .3s linear;
        margin-top: 10px;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    .hide{
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
    .show{
        width: 100%;
        position: fixed;
        top: 65px;
        background-color: black;
        color: white;
        overflow: hidden;
        z-index: 3;
        height: calc(100vh - 65px);
    }
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 60px;
    height: 45px;
    position: relative;
    margin-left: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
