.orderContainer{
    background-color: white;
    max-width: 95vw;
    margin: auto;
    border: 2px solid teal;
    select{
        height: 40px;
        margin-bottom: 25px;
    }
    form{
        input{
            margin-bottom: 15px;
        }
    }
}

.uniformItemsContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .uniformItems{
        position: relative;
        width: 100%;
        background-color: white;
        box-shadow: 0 0 0 black;
        transition: 0.5s linear;
        border: 2px solid teal;
        margin-left: -2px;
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 10px teal;
        }
        img{
            margin-top: 10px;
            max-width: 50%;
        }
    }
}