@import './Mixins.scss';

.viewDatesContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    .title{
        border-bottom: 1px solid teal;
    }
    .viewDates{
        position: relative;
        background-color: white;
        max-height: 90vh;
        overflow: auto;
        width: 90vw;
        h1{
            margin: 0;
            margin-bottom: 10px;
        }
        input{
            height: 25px;
            text-align: center;
            border: none;
            border-bottom: 2px solid teal;
            transition: 0.2s linear;
            font-size: 20px;
        }
    }
    .submit{
        width: 50%;
        font-size: 25px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .delete{
        position: absolute;
        left: 0;
        top: 0;
        font-size: 30px;
        margin: auto;
        margin-top: 3px;
        padding: 5px;
    }
    .close{
        color: teal;
        background-color: black;
        position: absolute;
        width: 40px;
        height: 40px;
        margin: 0;
        right: 2px;
        top: 2px;
        border-radius: 50px;
        box-shadow: 0px 0px 10px black;
        transition: 0.2s linear;
        font-size: 28px;
        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 20px red;
            color: red;
        }
    }
}

.addItem{
    position: absolute;
    top: 60px;
    right: 5px;;
    color: teal;
    width: 50px;
    height: 50px;
    transition: 0.2s linear;
    &:hover{
        cursor: pointer;
    }
}

.lastUpdated{
    margin: 0;
    background-color: limegreen;
}

.vanSortOptions{
    display: flex;
    justify-content: space-around;
    button{
        width: 50%;
        font-size: 20px;
        font-weight: bold;
        border: none;
        background-color: white;
        padding: 10px;
    }
    .arrow{
        margin:0;
        font-size: 20px;
        margin-bottom: -3px;
    }
    .active{
        background-color: teal;
    }
}

.displayVans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    &:nth-child(odd){
        background-color: lightgrey;
    }
}

.updateLastPM{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        padding: 20px;
        background-color: white;
        border: 1px solid teal;
    }
    button{
        width: 75px;
        border: 1px solid black;
        background-color: white;
        height: 30px;
        font-size: 15px;
    }
}

.closeToPm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    border: 1px solid black;
    &:nth-child(even){
        background-color: lightgrey;
    }
}